@import "tailwindcss";

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply bg-zinc-950 text-zinc-100 antialiased select-none;
    font-family: "Segoe UI", system-ui, sans-serif;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-500;
  }
}
